* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures all elements use border-box sizing */
}

body {
    overflow-x: hidden; /* Prevents any horizontal overflow */
}

.copatron {
    height: 75vh;
    width: 100%;
    background-color: #bc9ad9;
    border-top-right-radius: 50px;
    margin: 10vh 0;
    padding: 0; /* Ensure no padding causes overflow */
    overflow-x: hidden;
}

.header h1 {
    font-weight: 400;
    padding-top: 2rem;
}

.contentcopatron {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    padding: 15px;
}

.boxcopatron {
    height: 50vh;
    width: 30vw;
    background-color: #bfbcfc;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .contentcopatron{
        flex-direction: column;
        width: 100vw;
        height: 70% !important;
        margin: 0;
        gap: 2rem;
      }
      .boxcopatron{
        width: 80vw;
        height: 40vh;
      }
}
