/* FAQ Section */
.faq {
  padding: 5%;
  padding-top: 2%;
  height: 90vh;
  background-color: #eae9ff;
  text-align: center;
  width: 100vw;
  margin-bottom: 5rem;
}

.faq > h1 {
  color: black;
  font-size: 3.5rem;
  font-weight: 500;
}

/* FAQ Wrapper */
.faq-wrapper {
  width: 90vw;
  margin: 0;
  background-color: #eae9ff;
  padding: 2rem;
  padding-top: 0.5rem;
}

/* FAQ Body */
.faq-body {
  margin: 2rem;
  border-color: #eae9ff;
}

/* Accordion Buttons */
.faq .accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #612e8d 15%,
    #c880f0 69%,
    #5047ff 100%
  ) !important;
  color: #eae9ff !important;
  font-size: 1.7rem;
  font-weight: 500;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none;
  padding: 0.75rem 1.25rem;
  height: 8vh;
  transition: all 0s ease !important;
}
.accordion-item {
  background-color: #eae9ff !important;
}

.faq .accordion-button:not(.collapsed) {
  background-color: black !important;
  color: #e2e2e2 !important;
  font-size: 1.7rem;
  font-weight: 500;
  box-shadow: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.answer {
  background-image: linear-gradient(
    to right,
    #612e8d 15%,
    #c880f0 69%,
    #5047ff 100%
  ) !important;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Hide default accordion caret */
.faq .accordion-button::after {
  display: none !important;
}

/* Custom "+" and "-" icons */
.faq .accordion-button::before {
  content: "+";
  font-size: 2rem;
  color: #e2e2e2;
  margin-left: auto;
  order: 2;
}

.faq .accordion-button:not(.collapsed)::before {
  content: "-";
}

/* Responsive Styles */
@media (max-width: 768px) {
  .faq-wrapper {
    width: 90vw; /* Adjust for smaller screens */
    padding: 1.5rem;
  }

  .faq > h1 {
    font-size: 3rem;
    font-weight: 400; /* Reduce heading size for tablets */
  }

  .faq .accordion-button {
    font-size: 1rem; /* Adjust font size for smaller screens */
    padding: 0.5rem 1rem;
  }

  .answer {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .faq-wrapper {
    width: 100%; /* Full width for small devices */
  }

  .faq > h1 {
    font-size: 1.8rem; /* Smaller heading size for mobile */
  }

  .faq .accordion-button {
    font-size: 0.7rem;
    width: 100%;
    margin-left: 0;
  }
  .faq .accordion-button:not(.collapsed) {
    font-size: 0.7rem;
  }

  .answer {
    font-size: 0.7rem;
  }

  .faq {
    height: auto; /* Allow dynamic height for mobile devices */
    padding: 10%;
  }
}
