.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-line {
  height: 1px;
  width: 90vw;
  background-color: #e2e2e2;
}
.links {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #e2e2e2;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}
.links a::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #e2e2e2;
  transition: width 0.3s ease;
}
.links a:hover:after {
  width: 90%;
}
.footer-body {
  height: 40vh;
}
.content {
  width: 50vw;
  height: 30vh;
  margin-top: 5vh;
  text-align: center;
}
.content img{
  width: 15vw;
  height: 30vh;
}
.copyright{
  margin-top: 2rem;
}
.copyright p {
  color: #e2e2e2;
  font-size: 1.1rem;
  font-weight: 600;
}
a{
  color: white;
  font-size: 2.5rem;
  margin: 1rem;
  transition: all .3s ease-in-out;
}
a:hover{
  transform: translateY(-5px);
  color: lightblue;
}
