@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: #eae9ff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-bg-img {
  position: absolute;
  width: 35%;
  right: 0;
  top: 0;
  z-index: 0;
}

.hero-heading {
  text-align: left;
  font-size: 4vw;
  margin: 4% 0 0 4%;
  z-index: 4;
  line-height: 1.2;
}

.hero-heading-l1 {
  font-weight: 400;
}

.hero-heading-l2 {
  font-weight: 300;
}

.unstop-div {
  font-size: 1.4vw;
  display: flex;
  width: fit-content;
  align-items: center;
  padding-left: 0.6rem;
  margin-top: 0.6rem;
}

.unstop-img-div {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-bg-opacity: 1;
  /* background-color: rgb(255 255 255); */
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unstop-img-div>img {
  height: 2.3vw;
}

.Hackathon  {
  font-size: 3vw;
  font-style: bold;
  color: #39188c;
  display: flex;
  width: fit-content;
  align-items: center;
  padding-left: 0.6rem;
  margin-top: 0.6rem;
}

.Hackathon-36  {
  font-size: 1vw;
  font-style: bold;
  color: black;
  display: flex;
  width: fit-content;
  align-items: center;
  padding-left: 0.3rem;
  margin-bottom: 1.3rem;
}

.Hourglass-image {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-bg-opacity: 1;
  /* background-color: rgb(255 255 255); */
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.3rem;
}

.Hourglass-image>img {
  height: 1vw;
}

/* .unstop {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  background-image: url("public/assets/unstop2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */

.hero-bottom {
  background-color: #f6f6f6;
  border-radius: 35px;
  height: 50%;
  margin: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.hero-bottom-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1vh;
  height: 100%;
  padding-top: auto;
  width: 4%;
  padding: 0 0 5vh 2vh;
}

.hero-bottom-icons a {
  margin: 0;
}

.hero-bottom-icon {
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero-bottom-icon:hover {
  transform: scale(1.1);
}

.hero-bottom-left {
  width: 28%;
  line-height: 0.75;
  padding: 3vw 0 0 0;
  margin-bottom: auto;
  font-weight: 300;
}

.hero-bottom-left-number {
  font-size: 6vw;
}

.hero-bottom-left-text {
  color: #827dff;
  font-size: 4vw;
}

.hero-bottom-img-container {
  position: relative;
  width: 50%;
  height: auto;
  margin-bottom: 18%;
  display: flex;
  justify-content: center;
}

.hero-bottom-img {
  width: 100%;
  height: auto;
  z-index: 3;
}

.hero-img-line-element {
  position: absolute;
  bottom: -10%;
  left: -50%;
  width: 75%;
  height: auto;
  z-index: 1;
}

.hero-bottom-right {
  width: 33%;
  height: 100%;
}

.hero-bottom-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.hero-bottom-right-register-btn {
  background-color: black;
  border: 2px solid transparent;
  border-radius: 15px;
  color: white;
  padding: 0.8vw 1.5vw;
  font-size: 1.5vw;
  margin-top: 7vh;
  transition: transform 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.hero-right-btn-link {
  color: white; /* Makes the text white */
  text-decoration: none; /* Removes the underline */ 
}

.hero-bottom-right-register-btn:hover {
  transform: scale(1.05);
  border: 2px solid rgb(135, 135, 135);
}


.hero-bottom-right-about {
  padding: 0 1vw 1vw 0;
  text-align: justify;
}

.hero-bottom-right-about>span {
  font-weight: 400;
  font-size: 1.8vw;
}

.hero-bottom-right-about>p {
  color: #8e8e8e;
  line-height: 1.2;
  font-size: 1.1vw;
  text-align: left;
}

/* mobile */
@media (max-width: 768px) {
  .hero-wrapper {
    height: auto;
    /* width: 100%; */
    padding: 0;
    padding-bottom: 5vh;
  }

  .hero-bg-img {
    width: 40%;
    top: 7%;
    right: 0;
    /* display: none; */
  }

  .hero-heading {
    font-size: 10vw;
    margin: 20% 0 5% 5%;
  }

  .Hackathon {
    font-size: 5.5vw;
    padding-left: 0.4rem;
  }

  .Hackathon-36 {
    font-size: 3vw;
    padding-left: 0.25rem;
    --tw-bg-opacity: 1;
    border-radius: 0.5rem;
  }

  .Hourglass-image {
    padding-right: 0.25rem;
    --tw-bg-opacity: 1;
    border-radius: 0.5rem;
  }

  .Hourglass-image>img {
    height: 2.5vw;
  }

  .unstop-div {
    font-size: 4vw;
    padding-left: 0.4rem;
  }

  .unstop-img-div {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    --tw-bg-opacity: 1;
    border-radius: 0.5rem;
  }

  .unstop-img-div>img {
    height: 6vw;
  }

  .hero-bottom {
    flex-direction: column;
    height: auto;
    padding: 5% 0;
  }

  .hero-bottom-icons {
    position: absolute;
    top: 2%;
    left: 4%;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-bottom: 5%;
    width: auto;
  }

  .hero-bottom-icon {
    width: 8vw;
  }

  .hero-bottom-left {
    width: 100%;
    text-align: center;
    padding: 2vw 0;
  }

  .hero-bottom-left-number {
    font-size: 12vw;
  }

  .hero-bottom-left-text {
    font-size: 8vw;
  }

  .hero-bottom-img-container {
    width: 80%;
    margin-bottom: 2%;
  }

  .hero-bottom-img {
    width: 100%;
  }

  .hero-img-line-element {
    display: none;
  }

  .hero-bottom-right {
    width: 100%;
    padding: 0;
    margin-top: 5%;
  }

  .hero-bottom-right-container {
    align-items: center;
    padding: 2vw;
    padding-top: 0;
  }

  .hero-bottom-right-register-btn {
    font-size: 4vw;
    padding: 3vw 4vw;
    margin: 0;
  }

  .hero-bottom-right-about {
    padding: 10vw 4vw 0 4vw;
    font-size: 4vw;
  }

  .hero-bottom-right-about>span {
    font-size: 6vw;
    padding: 0 2rem;
  }

  .hero-bottom-right-about>p {
    font-size: 3vw;
    line-height: 1.3;
    padding-top: 0.5rem;
  }
  
}