/* General Navbar Styles */
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Rubik", sans-serif;
  z-index: 1000;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.scrolled {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}

.nav-left > a > img {
  height: 5vw;
  margin-left: 4%;
}

.nav-mid {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  font-weight: 300;
  border: 1px solid #b0b0b0;
  border-radius: 2rem;
  background-color: white;
  font-size: 1.8vh;
  padding: 0.5vh 2.5vh;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  font-size: 2vh;
  font-weight: 500;
  color: black;
}

.nav-link:hover {
  background-color: #f6f6f6;
  transform: scale(1.05);
}

.nav-link.active {
  background-color: black;
  color: white;
  border: none;
}

.nav-link.active a {
  color: white;
}

.nav-right {
  display: none;
}

.nav-right-btn {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 4;
  border-bottom-left-radius: 1.4rem;
  cursor: pointer;
  padding: 1vw 1.5vw;
  font-size: 1.2vw;
}

.nav-btn-content {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-btn-content > img {
  height: 1vw;
  padding-left: 0.5vw;
}

.nav-btn-content::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease;
  margin-top: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-right-btn:hover .nav-btn-content::after {
  width: 99.5%;
}

/* Hamburger Menu for Mobile */
.hamburger {
  font-size: 5vh;
  cursor: pointer;
  padding: 1.5rem;
  padding-right: 4%;
  color: black;
  z-index: 2000;
  display: block;
}

.hamburger.hide {
  display: none;
}

.hamburger-close {
  font-size: 5vh;
  cursor: pointer;
  padding: 1.5rem;
  padding-right: 5%;
  color: black;
  z-index: 2000;
  display: none;
}

.hamburger-close.active {
  display: block;
}

/* Side Menu for Mobile */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1500;
  transition: right 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu.active {
  right: 0;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.menu-links .nav-link {
  font-size: 3vh;
  padding: 2vh 3vh;
  color: black;
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  transition: none;
}

/* Add black border between each menu item */
.menu-links .nav-link:not(:last-child) {
  border-bottom: 2px solid black;
}

/* Media Queries */
/* mobile */
@media (max-width: 768px) {
  .nav-link {
    border: none;
    /* Remove border */
    border-radius: 0;
    /* Remove border-radius */
    background-color: none;
    /* Remove background */
    padding: 0;
    /* Adjust padding */
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
  }

  .nav-left {
    margin-left: 4%;
  }

  .nav-left > a > img {
    height: 9vw;
  }

  .navbar {
    height: 18vw;
    display: flex;
    align-content: center;
  }
}

@media (min-width: 768px) {
  .nav-mid,
  .nav-right {
    display: flex;
  }

  .hamburger,
  .hamburger-close,
  .menu {
    display: none;
  }

  /* .nav-left {
    margin-left: 4%;
  }

  .nav-left img {
    height: 5vw;
  }

  .navbar{
    height: 18vw;
    display: flex;
    align-content: center;
  } */
}

@media (min-width: 1024px) {
  .navbar {
    position: fixed;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 100;
    transition: all 0.3s ease;
    height: 9vh;
    box-sizing: content-box;
    padding: 0.2rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .scrolled {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .nav-left {
    width: 33%;
    padding: 0 0 0 4%;
  }

  .nav-left > a > img {
    height: 7vh;
    margin: 0;
  }

  .nav-mid {
    /* width: 34%; */
    flex-grow: 1;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .nav-link {
    font-weight: 400;
    border: solid 1px #b0b0b0;
    border-radius: 2rem;
    background-color: white;
    font-size: 2vh;
    padding: 1vh 1.4vw;
    cursor: pointer;
  }

  .nav-link.active {
    background-color: black;
    color: white;
    border: none;
  }

  .nav-right {
    width: 33%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-right-btn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 4;
    border-bottom-left-radius: 1.4rem;
    cursor: pointer;
    padding: 1vw 1.5vw;
    font-size: 1.2vw;
  }

  .nav-btn-content {
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-btn-content > img {
    height: 1vw;
    padding-left: 0.5vw;
  }

  .nav-btn-content::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
    margin-top: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .nav-right-btn:hover .nav-btn-content::after {
    width: 99.5%;
  }
}
