/* Sponsor Section */
.sponser {
  background-color: #eae9ff;
  color: #770fb3;
  height: 100vh;
  position: relative;
  overflow: hidden; /* To hide overflow of carousel */
}

/* Sponsor Header */
.sponser-header {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: black;
}

/* Carousel Styling */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide the cards when they go outside */
  width: 100vw;
  height: 60vh;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(300%); /* Enough width to fit all cards */
  animation: slide 10s linear infinite; /* Smooth infinite animation */
}

/* Carousel Card Styling */
.carousel-card {
  flex: 0 0 30%; /* Each card takes up 30% of the width */
  margin: 0 1rem;
  height: 50vh;
  text-align: center;
  transition: transform 0.5s ease;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-card img {
  width: 80%;
  height: 60%;
  border-radius: 10px;
}

.carousel-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

/* Individual card colors */
.knowledge-card {
  background-color: #f6f6f6;
}

.education-card1 {
  background-color: #e6e4ff;
}

.education-card2 {
  background-color: #efd4ff;
}

.carousel-card h1 {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.carousel-card p {
  font-size: 1.6rem;
}

/* Infinite slide animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 700px) {
  .sponser-header > h1 {
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .carousel-card {
    height: 45vh;
    width: 40vw;
  }
  .carousel-card img {
    width: 60%;
    height: 50%;
  }
  .carousel-card h1 {
    font-size: 2rem;
  }
  .carousel-card p {
    font-size: 1.5rem;
    margin: 1rem;
  }
}
