body {
  background-color: #eae9ff;
}
.team {
  text-align: center;
  width: 100vw;
  margin-bottom: 5rem;
}
.heading1 {
  height: 15vh;
}
.heading1 h1 {
  padding-top: 15vh;
}
.heading2 {
  height: 30vh;
}
.first {
  margin: 0;
  padding-top: 5rem;
  font-weight: 400;
}
.second {
  margin: 0;
  font-weight: 350;
}
@media (max-width: 768px) {
  .heading2{
    height: auto;
  }
  .second{
    margin-bottom: 5rem;
  }
}
