.welcome-container {
  text-align: center;
  background-color: #eae9ff;
  margin: 0;
  padding-top: 0;
}

.welcome-heading {
  margin-bottom: 0px;
  margin-top: 0;
}

.welcome-to {
  font-size: 3.5rem;
  color: #1a1a1a;
  margin: 0;
}

.challenge-heading {
  font-size: 3.5rem;
  color: #1a1a1a;
  margin-top: 0;
}

/* Updated description to contain two lines */
.welcome-description {
  font-size: 1rem;
  color: #030303;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.description-line > p {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.second-line {
  font-weight: bold; /* Makes the second line stand out */
  color: #1a1a1a;
  margin-top: 0;
}

/* Styles for bold text with images split into lines */
.bold-text-with-images {
  font-weight: 450;
  font-size: 4rem;
  color: #333;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.bold-text-with-images span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Adds some spacing between lines */
  font-size: 4rem;
}

.image-container {
  display: inline-block;
  margin: 2px 15px; /* Adds spacing between text and images */
}

/* Specific image styles */
.image1 img {
  width: 200px; /* You can adjust the width individually for each image */
  height: 80px;
  padding: 0px 10px; /* Add padding if needed */
}

.image2 img {
  width: 130px; /* Adjust the size for image2 */
  padding: 0px 10px; /* Add padding if needed */
}

.image3 img {
  width: 120px; /* Adjust the size for image3 */
  padding: 0px 10px;
}

.image4 img {
  width: 120px;
  padding: 5px 10px 0px 10px;
  margin-top: 20%;
}

.image5 img {
  width: 130px; /* Larger for the last image */
  padding: 0px 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .welcome-to,
  .challenge-heading {
    font-size: 3rem;
    padding: 0%;
  }

  .bold-text-with-images {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .welcome-to,
  .challenge-heading {
    font-size: 2.5rem;
    padding: 0%;
  }

  .bold-text-with-images {
    font-size: 2.5rem;
  }

  .welcome-description {
    font-size: 0.9rem;
    margin-bottom: 20px;
    padding: 0%;
  }

  .image1 img {
    width: 150px;
  }

  .image2 img,
  .image3 img,
  .image5 img {
    width: 100px;
  }

  .image4 img {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .welcome-to,
  .challenge-heading {
    font-size: 2rem;
    padding: 0%;
  }

  .bold-text-with-images {
    font-size: 2rem;
  }

  .welcome-description {
    font-size: 0.8rem;
    padding: 0%;
  }

  .image1 img {
    width: 100px;
    height: 50px;
  }

  .image2 img,
  .image3 img,
  .image5 img {
    width: 80px;
  }

  .image4 img {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .welcome-to,
  .challenge-heading {
    font-size: 2rem;
    padding: 0% ;
  }

  .bold-text-with-images {
    font-size: 1.5rem;
    
  }

  .bold-text-with-images span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Adds some spacing between lines */
    font-size: 1.7rem;
  }

  .image-container {
    display: inline-block;
    margin: 2px 0px; /* Adds spacing between text and images */
  }

  .welcome-description {
    font-size: 0.7rem;
    padding: 0%;
  }

  .image1 img {
    width: 100px;
    height: 50px;
  }

  .image2 img,
  .image3 img,
  .image5 img {
    width: 60px;
  }

  .image4 img {
    width: 50px;
  }
}
